node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
logs
*.log
README.md
LICENSE
node_modules/
.pnp/
.pnp.js
coverage/
build/
dist/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo